
  {% for groupe in app.user.groupe %}
  <div class="col-xs-12 col-md-6 ">
  <div class="card border-warning mb-3" >
    <div class="card-header" style="background-color:#ffc107 ;  height: 50px;">
      <h4 class="card-title"  style="text-transform:uppercase; color:white ; ">{{ groupe.name }}</h4>
    </div>
    <div class="card-body" style=" height: 450px;">
      {% if groupe.cours.image is not null and groupe.cours.image|trim is not
      empty %}

      <img
        src="{{ asset('uploads/') }}{{ groupe.cours.image }}"
        height="300"
        width="400"
        style="border-radius: 15px; float: center"
      />

      {% else %}

      <img
        src="//placeimg.com/280/180/tech"
        height="300"
        width="400"
        style="border-radius: 15px; float: center"
      />

      {% endif %}

      <p class="card-text " style="text-align: left; font-size:18px; " >
        {{ groupe.cours.description }}
      </p>
      <a
        href="{{ path('groupe_show', { id: groupe.id }) }}"
        class="btn btn-sm btn-warning float-right"
        >Read more <i class="fas fa-angle-double-right"></i
      ></a>
    </div>
  </div>
</div>
  {% endfor %}

