{% extends 'base.html.twig' %}

{% block title %}Upload index{% endblock %}

{% block body %}
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="banner_content text-center">
              <h2 class="text-warning">Upload</h2>
              <div class="page_link">
                <a href="index.html" class="text-warning">Upload</a>
                <a href="courses.html" class="text-warning">List</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <h1>Upload index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>File</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for upload in uploads %}
            <tr>
                <td>{{ upload.id }}</td>
                <td>{{ upload.file }}</td>
                <td>
                    <a href="{{ path('upload_show', {'id': upload.id}) }}">show</a>
                    <a href="{{ path('upload_edit', {'id': upload.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('upload_new') }}">Create new</a>
{% endblock %}
