{% for section in groupe.cours.sections %}

<!-- single course -->
<ol class="breadcrumb">
  <li class="breadcrumb-item active">
    {{ section.title }}
  </li>
  &nbsp; {% if is_granted('ROLE_TEACHER') %}
  <span class="badge badge-primary"
    ><a
      href="{{
        path('upload_new', { id: groupe.cours.id, sectionid: section.id })
      }}"
      style="color: white"
    >
      NEW
    </a>
  </span>
  {% endif %}
</ol>

{% for vedio in section.uploads %}{% if vedio.filevedio is not null and
vedio.filevedio|trim is not empty %} {% if is_granted('ROLE_TEACHER') %}
<div class="container">
  <div class="row">
    <span class="meta_info">
      <a
        href="{{ path('upload_edit', { id: vedio.id }) }}"
        class="btn btn-primary"
        style="color: white"
        ><i class="fas fa-edit"></i></a
    ></span>

    <span class="meta_info">
      {% include "groupe/_delete_upload.html.twig" %}</span
    >
  </div>
</div>
{% endif %}
<br />
<div class="row">
  <div class="col-lg-12">
    <div class="owl-carousel active_course">
      <div class="single_course">
        <div class="course_head">
          <!-- signle file -->

          <iframe
            width="1000"
            height="600"
            src="{{ vedio.filevedio }}"
          ></iframe>
        </div>
        <div class="course_content">
          <h4 class="mb-3">
            <!-- upload title -->
            {{ vedio.title }}
          </h4>
          <p>
            <!-- upload Description -->
            {{ vedio.description }}
          </p>
          {% if is_granted('ROLE_TEACHER') %}
          <div
            class="course_meta d-flex justify-content-lg-between align-items-lg-center flex-lg-row flex-column mt-4"
          >
            <div class="authr_meta">
              <span class="d-inline-block ml-2"></span>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<br />
<br />
{% endif %} {% endfor %} {% endfor %}
